*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 5em;
}

.jogo{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

div{
   display: flex;
   justify-content: center;
   align-items: center;
   height:200px;
   width: 200px;

  
}

.alinhar{
    display: flex;
    width: 100%;
    margin:5px;
}

#celulas{
   margin:5px;
   background-color:white;
   height:200px;
   width: 200px;
}

.painel{
    background-color:white;
    width: 61%;
    height: 10%;
    margin-top: 10px;
}

#resetar{
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    height: 75%;
    background-color: aqua;
    outline: none;
    border: 1px solid rgb(3, 116, 136);
    font-size: 0.3em;
}

@media screen and (max-width:992px) {

    .jogo{
        width: 90%;
        height: 100%;

    }

    #celulas{
      max-height:150px;
      width: 100px;
      margin: 4px;  
    }

    .alinhar{
        margin: 2px;
    }

    #principal{
        font-size: 3em;
    }

    .painel{
        background-color:white;
        width: 83%;
        height: 10%;
    }

    #resetar{
       padding: 10px;
       border-radius: 10px;
       width: 200px;
       background-color: aqua;
       outline: none;
       border: 1px solid rgb(3, 116, 136);
       }
    
}

